.current-menu-item.current_page_item a {
	color: #db302c;
}

p#breadcrumbs {
	text-transform: capitalize;
}
p#breadcrumbs a {
    padding-right: 5px;
}
p#breadcrumbs a + span {
    padding-left: 5px;
}

.post__text p {
	display: inline;
}
